* {
    margin:0;
    box-sizing: border-box;
}

body{
    background: url('./herringbone.png');
    background-attachment: scroll;  

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.instructions{
    font-family: 'Oswald', sans-serif;
}

.title, .rating{
    font-family: 'Oswald', sans-serif;
    background: cornflowerblue;
    text-align: center;
}

.title {
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.rating {
    margin-bottom: 40px;
}

.gifStart{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* #gif{
    width: 100%;
} */

#buttons{
    font-family: 'PT Sans', sans-serif;
}
