* {
    margin:0;
    box-sizing: border-box;
}

body{
    background: url('./herringbone.png');
    background-attachment: scroll;  

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.instructions{
    font-family: 'Oswald', sans-serif;
}

#buttons{
    font-family: 'PT Sans', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    line-height: 20px;   /* within paragraph */
    margin-bottom: 25px; /*between paragraphs */
}