* {
    margin:0;
    box-sizing: border-box;
}

/* body{
    background: url('./bg.jpg');
    background-attachment: scroll;  

} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    text-align: center
}